body {
    font-family: Arial, sans-serif;
    background-color: #151010;
    margin: 0;
    padding: 0;
}

.cv-container {
    width: 800px;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    border-bottom: 2px solid #333;
    padding-bottom: 15px;
}

header h1 {
    margin: 0;
    color: #333;
}

header p {
    margin: 5px 0;
    color: #555;
}

section {
    margin-top: 20px;
}

section h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background-color: yellowgreen;
    color: #090101;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
    list-style: none;
}

footer {
    margin-top: 20px;
    font-size: 14px;
   color: #100d0d;
}
